/* Coolors Exported Palette - coolors.co/fbf5f3-e28413-000022-de3c4b-c42847 */

/* HSL */
$color1: hsla(15%, 50%, 97%, 1);
$color2: hsla(33%, 84%, 48%, 1);
$color3: hsla(240%, 100%, 7%, 1);
$color4: hsla(354%, 71%, 55%, 1);
$color5: hsla(348%, 66%, 46%, 1);

/* RGB */
$color1: rgba(251, 245, 243, 1);
$color2: rgba(226, 132, 19, 1);
$color3: rgba(0, 0, 34, 1);
$color4: rgba(222, 60, 75, 1);
$color5: rgba(196, 40, 71, 1);